body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar div {
    display: flex;
    gap: 15px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: #f5f5f5;
  }
  
  .about-us {
    display: flex;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
  }
  
  .about-text {
    flex: 1;
    padding-right: 20px;
  }
  
  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-icons a img {
    width: 24px;
    height: 24px;
  }
  